.ipynb_checkpoints

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Packaging / docs build artifacts ###
docs/_build/
build/
dist/
*.egg-info/
.pytest_cache/
